<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/screen.css" />
    <title>The Howest Museum</title>
	{{ craft.vite.script('src/js/app.js', false) }}
  </head>
  <body>
    <div class="o-page">
      <div class="o-page__header">
        <div class="c-header">
          <div class="c-header__symbol">
            <img src="img/logo.png" alt="" />
          </div>
          <div class="c-header__nav">
            <nav class="c-navigation">
              <a href="" class="c-navigation__item c-navigation__item--active">Home</a>
              <a href="" class="c-navigation__item">Modern</a>
              <a href="" class="c-navigation__item">Contemporary</a>
              <a href="" class="c-navigation__item">Location</a>
            </nav>
          </div>
          <div class="c-header__shortcut">
            <a href="" class="c-button">Buy tickets</a>
            <a href="" class="c-img-button u-default-margin-left"
              ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle></svg
            ></a>
            <a href="" class="c-img-button u-default-margin-left"
              ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path d="M21 9.5H3M21 4.5H3M21 14.5H3M21 19.5H3" /></svg
            ></a>
          </div>
        </div>
      </div>
      <div class="o-page__content">
        <h2 class="c-sub-title">The Howest Museum</h2>
        <h1 class="c-title">Next events</h1>

        <div class="c-events">
          <div class="c-event">
            <div class="c-event__image">
              <img src="img/jacksonpollock.jpg" class="c-event__symbol" />
            </div>
            <div class="c-event__info">
              <h2 class="c-event__date">April 5 - June 16</h2>
              <h1 class="c-event__title">Jackson Pollock</h1>
              <a href="" class="c-viewmore">View more</a>
            </div>
          </div>

          <div class="c-event">
            <div class="c-event__image">
              <img src="img/banksy.jpg" class="c-event__symbol" />
            </div>
            <div class="c-event__info">
              <h2 class="c-event__date">April 5 - June 16</h2>
              <h1 class="c-event__title">Jackson Pollock</h1>
              <a href="" class="c-viewmore">View more</a>
            </div>
          </div>
          <div class="c-event">
            <div class="c-event__image">
              <img src="img/banksy.jpg" class="c-event__symbol" />
            </div>
            <div class="c-event__info">
              <h2 class="c-event__date">April 5 - June 16</h2>
              <h1 class="c-event__title">Jackson Pollock</h1>
              <a href="" class="c-viewmore">View more</a>
            </div>
          </div>

          

      
        </div>
      </div>
      <div class="o-page__footer">
        <div class="c-sub-nav">
          <ul class="c-sub-nav__col">
            <li class="c-sub-nav__item c-sub-nav__item--niv1"><a href="#" class="c-sub-nav__link">Visit</a></li>
            <li class="c-sub-nav__item c-sub-nav__item--niv2"><a href="#" class="c-sub-nav__link">Opening hours</a></li>
            <li class="c-sub-nav__item c-sub-nav__item--niv2"><a href="#" class="c-sub-nav__link">Location</a></li>
            <li class="c-sub-nav__item c-sub-nav__item--niv2"><a href="#" class="c-sub-nav__link">Schools</a></li>
          </ul>

          <ul class="c-sub-nav__col">
            <li class="c-sub-nav__item c-sub-nav__item--niv1"><a href="#" class="c-sub-nav__link">Collection</a></li>
            <li class="c-sub-nav__item c-sub-nav__item--niv2"><a href="#" class="c-sub-nav__link">Modern</a></li>
            <li class="c-sub-nav__item c-sub-nav__item--niv2"><a href="#" class="c-sub-nav__link">Contemporary</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
