.c-navigation {
  &__item {
    margin: 0 0 0 2rem;
    padding-bottom: 0.25rem;
    font-size: 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-black;
    border-bottom: 1px solid #fff;
    transition: $speed border-color;
    &--active {
      border-bottom-color: $color-accent--light;
    }
    &:hover {
      border-bottom-color: $color-accent--dark;
    }
  }
}
