.o-detailpanel {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -0.5rem;

  &__section-1 {
    box-sizing: border-box;
    padding: 0.5rem;
    flex-basis: $size-container/3;
    order: 1;
  }
  &__section-2 {
    box-sizing: border-box;
    padding: 0.5rem;
    flex-basis: $size-container/3 * 2;
    order: 2;
  }
}

@media screen and (max-width: $size-container) {
  .o-detailpanel {
    &__section-1 {
      flex-grow: 1;
      order: 2;
    }
    &__section-2 {
      flex-grow: 1;
      box-sizing: border-box;
      padding: 0.5rem;
      flex-basis: $size-container/3 * 2;
      order: 1;
    }
  }
}
